<div class="container mt-5">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Liste des Films</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Film Name</th>
              <th scope="col">Price</th>
              <th scope="col">Release Date</th>
              <th scope="col">Genre</th>
              <th scope="col" *ngIf="authService.isAdmin()">Actions</th> <!-- New column for actions -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let film of films">
              <td>{{film.idFilm}}</td>
              <td>{{film.nomFilm}}</td>
              <td>{{film.prixFilm | currency:'EUR':'symbol':'1.2-2'}}</td>
              <td>{{film.dateCreation | date:'dd/MM/yyyy'}}</td>
              <td>{{film.genreFilm.nomG}}</td>
              <td *ngIf="authService.isAdmin()">
                <div class="d-flex justify-content-between">
                  <!-- Modify Button -->
                  <a class="btn btn-warning btn-sm me-2" [routerLink]="['/updatefilm',film.idFilm]" *ngIf="authService.isAdmin()">

                    <i class="fas fa-edit"></i> Modifier
                  </a>

                  <!-- Delete Button -->
                  <a class="btn btn-danger btn-sm" (click)="deleteFilm(film)"*ngIf="authService.isAdmin()" >

                    <i class="fas fa-trash"></i> Supprimer
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
