<div class="container mt-5">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Liste des Films</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Film Name</th>
              <th scope="col">Price</th>
              <th scope="col">Release Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let film of films">
              <td>{{film.idFilm}}</td>
              <td>{{film.nomFilm}}</td>
              <td>{{film.prixFilm}}</td>
              <td>{{film.dateCreation | date:'dd/MM/yyyy'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
